<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <select class="form-control">
                            <option>Department</option>
                            <option>Department Save</option>
                            <option>Show Department</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control">
                            <option>Student</option>
                            <option>Student Save</option>
                            <option>Show Student</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control">
                            <option>Course</option>
                            <option>Course Save</option>
                            <option>Course Assigning</option>
                        </select>
                    </li> 

                    @*<li>@Html.ActionLink("Save Department", "DepartmentSave", "Department")</li>
                    <li>@Html.ActionLink("Show Department", "ShowAllDepartment", "Department")</li>
                    <li>@Html.ActionLink("Insert Student", "StudentSave", "Student")</li>*@
                    @*<li>@Html.ActionLink("Insert Course", "SaveCourse", "Course")</li>
                    <li>@Html.ActionLink("Course Assigning Teacher", "CourseAssigning", "Course")</li>*@
                    <li>@Html.ActionLink("Insert Teacher", "SaveTeacher", "Teacher")</li>
                    <li @Html.ActionLink("Room Assigning", "Index", "ClassRoom")></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
      
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
