@using UniversityManagementSystemApp.Models
@using UniversityManagementSystemApp.ViewModel
@model UniversityManagementSystemApp.Models.Student
@{
    var result = ViewBag.Result;
    string error = ViewBag.Error;
    List<SelectListItem> alistofDepartments = ViewBag.listofDepartments;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentSave</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>
    <h4> Save Students</h4>
    <hr />

    @using (Html.BeginForm())
    {
        if (result == null)
        {
            <div class="container form-horizontal" id="StudentForm">
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.Name)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
                    </div>
                    <div class="col-md-2 ">
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.Email)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                    </div>
                    <div class="col-md-2 ">
                        <div id="mailExists"></div>
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.ContactNo)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.ContactNo, new {@class = "form-control"})
                    </div>
                    <div class="col-md-2 ">
                        @Html.ValidationMessageFor(x => x.ContactNo)
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.Date)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Date, DateTime.Now.ToString("MM/dd/yyyy"), new {@class = "form-control"})
                    </div>
                    <div class="col-md-2 ">
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.Address)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(x => x.Address, new {@class = "form-control"})
                    </div>
                    <div class="col-md-2 ">
                        @Html.ValidationMessageFor(x => x.Address)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(x => x.DepartmentId)
                        <span style="color: red;">*</span>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.DepartmentId, new List<SelectListItem>(alistofDepartments), "Select Departments", new {@class = "form-control"})
                    </div>
                    <div class="col-md-2">
                        @Html.ValidationMessageFor(x => x.DepartmentId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="register" value="Register" class="btn btn-primary" />
                    </div>
                </div>
                @*<div class="panel-body panel-danger">
                @ViewBag.Message
            </div>*@
                <div class="panel-body panel-danger">
                    @if (error != null)
                    {
                        @ViewBag.Error
                    }
                </div>

            </div>

        }

        else
        {



            <div class="container form-horizontal" id="showResult">
                <table class="table table-hover table-bordered">
                    <tr>
                        <th>Student Reg</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Department</th>
                    </tr>
                    
                        @if (result != null)
                        {
                            foreach (ViewStudentInfo item in ViewBag.Result)
                            {
                                <tr>
                                    <td>@item.StudentRegNo</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.ContactNo</td>
                                    <td>@item.Date</td>
                                    <td>@item.Address</td>
                                    <td>@item.Code</td>
                                </tr>
                            }
                        }
                               
                </table>
            </div>
        }

    }

    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>
        $("#Date").datepicker().datepicker("setDate", new Date());
    </script>
    
    @*<script>
        $(document).ready(function () {
            $("#StudentForm").show();
            $("#showResult").hide();
                $("#register").click(function() {
                    $("#StudentForm").hide();
                    $("#showResult").show();
                });
            });
    </script>*@

    <script>
        $(document).ready(function () {
            
            $("#Email").blur(function () {
                //alert('aaa');
                debugger;
                $("#mailExists").empty();
                var email = $("#Email").val();
                var json = { Email: email };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckEmail", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        if (data != 0) {
                            if ($("#mailExists").is(':empty')) {
                                $("#mailExists").append("Email Already Exists");
                            }
                            //if ($("#mailExists").text == "") {
                            //    $("#mailExists").append("Email Already Exists");
                            //}
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
